<div>Interpolation: {{ message }}</div>
<hr>
<div>
    Two way
    <input [(ngModel)]="message" />
</div>
<div> One way
    <input [value]="message" />
</div>
<div>Event
    <button (click)="resetMessage('Reset, world!')">Reset</button>
</div>
<div>
    <my-person [model]="person" *ngFor="let person of items" (onSelect)="selectPerson($event)" [class.selected]="person === selectedPerson"></my-person>
    <div *ngIf="selectedPerson">
        <h4>Selected Person: {{ selectedPerson.lastName }}, {{selectedPerson.firstName}}</h4>
    </div>
    <h4>Summary</h4>
    <div *ngIf="items.length">{{ items.length }} "People"</div>
</div>